*.log
*.sqlite
*.db

.buildpath
.project
.settings

www/phpinfo.php
#OS junk files
[Tt]humbs.db
*.DS_Store

www/images/ads/*

www/images/userimages/cropped/*
www/images/userimages/large/*
www/images/userimages/med/*
www/images/userimages/medsquare/*
www/images/userimages/small/*
www/images/userimages/smallsquare/*
www/images/userimages/tiny/*
www/images/userimages/tinysquare/*

www/images/venuecategoryimages/cropped/*
www/images/venuecategoryimages/large/*
www/images/venuecategoryimages/med/*
www/images/venuecategoryimages/medsquare/*
www/images/venuecategoryimages/small/*
www/images/venuecategoryimages/smallsquare/*
www/images/venuecategoryimages/tiny/*
www/images/venuecategoryimages/tinysquare/*
www/images/venuecategoryimages/app/*

www/images/articleimages/cropped/*
www/images/articleimages/med/*
www/images/articleimages/medsquare/*
www/images/articleimages/small/*
www/images/articleimages/smallsquare/*
www/images/articleimages/tiny/*
www/images/articleimages/tinysquare/*

www/images/bizicons/*

www/images/bizimages/cropped/*
www/images/bizimages/large/*
www/images/bizimages/med/*
www/images/bizimages/medsquare/*
www/images/bizimages/small/*
www/images/bizimages/smallsquare/*


www/images/eventimages/cropped/*
www/images/eventimages/large/*
www/images/eventimages/med/*
www/images/eventimages/medsquare/*
www/images/eventimages/small/*
www/images/eventimages/smallsquare/*

www/images/groupimages/cropped/*
www/images/groupimages/large/*
www/images/groupimages/med/*
www/images/groupimages/medsquare/*
www/images/groupimages/small/*
www/images/groupimages/smallsquare/*
www/images/groupimages/tiny/*
www/images/groupimages/tinysquare/*

www/images/listingimages/cropped/*
www/images/listingimages/med/*
www/images/listingimages/medsquare/*
www/images/listingimages/small/*
www/images/listingimages/smallsquare/*
www/images/listingimages/tiny/*
www/images/listingimages/tinysquare/*

www/images/propertyimages/cropped/*
www/images/propertyimages/med/*
www/images/propertyimages/medsquare/*
www/images/propertyimages/small/*
www/images/propertyimages/smallsquare/*

www/images/userimages/cropped/*
www/images/userimages/large/*
www/images/userimages/med/*
www/images/userimages/medsquare/*
www/images/userimages/small/*
www/images/userimages/smallsquare/*
www/images/userimages/tiny/*
www/images/userimages/tinysquare/*



